In [1]:
import pandas as pd

In [2]:
# Read the data into a Pandas DataFrame
crowdfunding_data = pd.ExcelFile("crowdfunding.xlsx")
# Get the sheet names.
crowdfunding_data.sheet_names

['crowdfunding_info', 'contact_info']

In [7]:
# Get the crowdfunding_info from the crowdfunding_info worksheet. 
crowdfunding_info_df = pd.read_excel(crowdfunding_data, sheet_name='crowdfunding_info')
crowdfunding_info_df.sample(n=5)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
402,1509,"Ruiz, Richardson and Cole",Team-oriented static interface,7300,2946,failed,40,US,USD,1603861200,1618894800,False,True,film & video/shorts
222,1558,Johnson LLC,Cross-group cohesive circuit,4800,6623,successful,138,US,USD,1608271200,1619499600,False,False,photography/photography books
560,670,Hunt LLC,Re-engineered radical policy,20000,158832,successful,3177,US,USD,1624251600,1644213600,False,False,film & video/animation
90,656,Kramer Group,Synergistic explicit parallelism,7800,6132,failed,106,US,USD,1633755600,1636956000,False,True,theater/plays
620,2339,"Swanson, Wilson and Baker",Synergized well-modulated project,4300,11525,successful,128,AU,AUD,1614232800,1620363600,False,False,photography/photography books

In [6]:
# Get the contact_info from the contact_info worksheet.
# Increase the width of the column.
pd.set_option('max_colwidth', 400)
contact_info_df = pd.read_excel(crowdfunding_data, sheet_name='contact_info', header=2)
contact_info_df.sample(n=5)

863                 {"contact_id": 1729, "name": "Felix Rubio", "email": "felix.rubio@ebert.de"}
116             {"contact_id": 6026, "name": "Laura Buckley", "email": "laura.buckley@ryan.org"}
294  {"contact_id": 1906, "name": "Kaitlyn Farinelli", "email": "kaitlyn.farinelli@outlook.com"}
374                 {"contact_id": 5967, "name": "Franck Wade", "email": "franck.wade@gute.org"}
531    {"contact_id": 2354, "name": "Edelgard Kreusel", "email": "edelgard.kreusel@hotmail.com"}

In [8]:
# Get a brief summary of the crowdfunding_info DataFrame. 
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   blurb                    1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_at              1000 non-null   int64
 10  deadline                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(6), object(6)
memory usage: 95.8+ KB

In [9]:
# Get a brief summary of the contact_info DataFrame. 
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0           1001 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB